.foundUserContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left:50px ;
    
}

.search{
    margin-right: 30px;
    margin-top: 5px;
}
.addIcon{
    margin-left: 30px;
    margin-top: 5px;
}