.control {
	margin-bottom: 12px;
	border: 0.5px solid #000000 !important;
    border-radius: 15px;
	padding: 7px;
}

.form {
    display: flex;
    flex-direction: column;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.formTitle {
	color: #000000;
	 margin-bottom: 40px;
	 margin-top: 40px;
}
.button {
	background-color: #C4C4C4;
	border: none;
	border-radius: 7px;
	padding: 7px 20px 7px 20px;
	color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 205px;
    align-self: center;
}
.bottomText{
    font-size: 12px;
}
@media (max-width: 600px) {
	.form {
		width: 70%;
	}
}
