#GameBoard {
	position: relative;
	margin: auto;
	border-style: solid;
	margin-bottom: 30px;
}

#GameBoard .Block {
	position: absolute;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	top: 105%;
	text-align: center;
	font-weight: bold;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
}

#game-screen{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 95%;
	margin: auto;

}

#profile{
	width: 30%;
}

.color-picker{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-grow: 1
}

#colors-1, #colors-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	margin: 10px 0;
	border: 2px solid black;
}