#GameBoard {
	position: relative;
	margin: auto;
	border-style: solid;
}

#GameBoard .Block {
	position: absolute;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	top: 105%;
	text-align: center;
	font-weight: bold;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
}

.color-picker{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
}

#colors-1, #colors-2{
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid black;
	padding: 10px;
}